$color-body: #000000bd;
$color-bodyPorang: #a8a8a8;
$primary_color :#e0e6eb;
$primary_HOVERcolor:#6a737a;
$secondary_color:#fcfcfc;
$onlyWhite_color:#ffff;
$color_greyBackgroud:#dcdcdc;
$color_greyborder: #9e9e9e;
$bg-hoverbtn:#e9e9e9;
$txcolor-hoverbtn: #9e9e9e;